.home
  h1
    font-size: 1.5rem
    margin-bottom: 1.4rem
    text-transform: uppercase
    overflow: hidden

  .breadcrumbs
    .breadcrumb
      background-color: #ffffff !important
      padding-left: 0 !important
      margin-bottom: -0.7rem

      &-item
        font-size: 0.9rem

.bg-fill
  background-image: url("/img/bg-filter.jpg")
  background-repeat: repeat

.advanced
  @extend .bg-fill

  .card-deck
    .card
      border-radius: 0 !important

      &-header
        h4
          font-size: 1.3rem

      &-body
        background-color: #f40a78
        label
          font-size: 1.3rem
          text-transform: uppercase
          color: #ffffff

      .checkbox
        label
          font-size: 1rem
          text-transform: none

      .checkbox
        padding-left: 40px
        label
          display: inline-block
          position: relative
          padding-left: 12px
          &::before
            content: ""
            display: inline-block
            position: absolute
            width: 24px
            height: 24px
            left: 0
            margin-left: -20px
            border: 1px solid #cccccc
            border-radius: 0
            background-color: #f9f6f8
            -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out
            -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out
            transition: border 0.15s ease-in-out, color 0.15s ease-in-out
          &::after
            display: inline-block
            position: absolute
            width: 24px
            height: 24px
            left: 0
            top: 0
            margin-left: -20px
            padding-left: 4px
            font-size: 16px
            color: #555555
        input[type="checkbox"]
          opacity: 0
          &:focus + label::before
            outline: thin dotted
            outline: 5px auto -webkit-focus-ring-color
            outline-offset: -2px
          &:checked + label::after
            font-family: 'FontAwesome'
            content: "\f00c"
            color: $navbarBackgroundColor
          &:disabled + label
            opacity: 0.65
            &::before
              background-color: #eeeeee
              cursor: not-allowed
        &.checkbox-circle label::before
          border-radius: 50%
        &.checkbox-inline
          margin-top: 0

      .checkbox-primary input[type="checkbox"]:checked + label
        &::before
          background-color: #428bca
          border-color: #428bca
        &::after
          color: #fff

      .checkbox-danger input[type="checkbox"]:checked + label
        &::before
          background-color: #d9534f
          border-color: #d9534f
        &::after
          color: #fff

      .checkbox-info input[type="checkbox"]:checked + label
        &::before
          background-color: #5bc0de
          border-color: #5bc0de
        &::after
          color: #fff

      .checkbox-warning input[type="checkbox"]:checked + label
        &::before
          background-color: #f0ad4e
          border-color: #f0ad4e
        &::after
          color: #fff

      .checkbox-success input[type="checkbox"]:checked + label
        &::before
          background-color: #5cb85c
          border-color: #5cb85c
        &::after
          color: #fff

    .btn
      border-radius: 0
      font-weight: 600

      &-search
        background-color: #b30858
        text-transform: uppercase
        color: #ffffff

      &-clear
        background-color: #000000
        text-transform: uppercase
        color: #ffffff


.girls
  min-height: 100vh
  &.bg-list
    background-color: #ececec
  .card
    border-radius: 0 !important
    &:hover
      border: 2px solid $navbarBackgroundColor
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out
    &.h-305
      min-height: 305px
    &-header
      .drives
        .item
          border-left: 1px solid #cccccc
          > a
            color: #f40a78
    &-body
      padding: 0.40rem
      .photo
        position: relative
        overflow: hidden
        .favorite-button
          cursor: pointer
          padding: 0 !important
          .love
            background-color: #ebebe6
            &.is-loved
              background-color: #f40a78
              color: #ffffff
      .information
        display: block
        .phone
          color: #000000

        .info-column
          overflow: hidden
          margin: 7px 0 0 0
          .column
            width: 100px
            background-color: #f2f4f3
            margin: 0 3px 0 0
            .info-list
              padding: 8px 0 2px 0
              .line
                padding: 0 5px 2px 3px
                overflow: hidden
                .label
                  font-size: 12px
                  color: #2d2d2d
                  float: left
                .info
                  font-size: 12px
                  color: #d41e28
                  float: right

            .services-list
              .line
                padding: 0 5px 2px 3px
                margin: 1px 0 0
                overflow: hidden
                span
                  display: block
                  overflow: hidden
                  font-size: 12px

    &-img-top
      border-radius: 0 !important
      //filter: grayscale(100%)

.anketa
  min-height: 100vh
  .card
    border-radius: 0 !important
    &.h-305
      min-height: 305px
    &-header
      .drives
        .item
          border-left: 1px solid #cccccc
          > a
            color: #f40a78
    &-body
      padding: 0.40rem
      .phone-container
        display: block
        .phone
          color: #000000
          font-size: 2rem
          font-weight: bold

          @media only screen and (max-width : $media-phone)
            font-size: 1.5rem

      .info-column
        overflow: hidden
        margin: 7px 0 0 0
        .column
          width: 100%
          margin: 0 3px 0 0
          .info-list
            padding: 8px 0 2px 0
            .line
              padding: 0 5px 2px 3px
              overflow: hidden
              .label
                color: #2d2d2d
                float: left
              .info
                color: #f40a78
                float: right
                font-weight: bold

            .services-list
              .line
                padding: 0 5px 2px 3px
                margin: 1px 0 0
                overflow: hidden
                span
                  display: block
                  overflow: hidden
                  font-size: 12px

      .price-block
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        min-height: 85px
        background-color: #f8f5f5
        .quant-price-hour
          font-size: 0.8rem
        .quant-price
          color: #f40a78
          font-weight: bold
          font-size: 0.8rem


      .services-container
        .title
          padding: 0.8em
          color: #040303
          text-transform: uppercase
          background-color: rgba(0, 0, 0, 0.03)
          font-weight: bold

        .group-name
          color: #f40a78

    &-img-top
      border-radius: 0 !important
      //filter: grayscale(100%)
