textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus
    outline: none
    background-color: #ffffff !important
    border: 1px solid #f40a78 !important
    -webkit-box-shadow: none !important
    -moz-box-shadow: none !important
    box-shadow: none !important
    transition: all .25s ease

.form-control
    background-color: #f8f8f8
    border: 1px solid #f40a78
    border-radius: 0