<template>
    <div class="services clearfix">
      <a href="#" class="services-switcher" data-toggle="modal" data-target="#serviceModal">
        <span>Paslaugos</span>
      </a>
      <service-checked-counter-jquery>
      </service-checked-counter-jquery>
    <service-modal :services-list="services"></service-modal>
    </div>
</template>

<script>
import ProstesWebApi from "../../api/web";
import GirlServiceItem from "./Item.vue";
import ServiceModal from "./Modal.vue";
import ServiceCheckedCounterJquery from "./CheckedCounterJquery.vue";

export default {
  data() {
    return {
      services: []
    };
  },
  mounted() {
    let _self = this;

    _self.getServices();
  },
  methods: {
    getServices() {
      let _self = this;
      
      ProstesWebApi.getGirlServiceData(data => {
        _self.services = data;
      });
    }
  },
  components: {
    GirlServiceItem,
    ServiceModal,
    ServiceCheckedCounterJquery
  }
};
</script>