<template>
  <div class="modal fade" id="serviceModal" tabindex="-1" role="dialog" aria-labelledby="serviceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header mb-4">
          <h5 class="modal-title" id="serviceModalLabel">
            Pasirinkite paslaugą 
            <span v-if="countCheckedServices">
              <service-checked-counter 
                :counter="countCheckedServices" 
                :display="false">
              </service-checked-counter>
            </span>
            </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div v-for="(service, groupName) in servicesList" :key="service.id" class="col-12 col-lg-3 col-md-5 col-sm-6 mb-5">
                <h5>{{ groupName }}</h5>

                <div v-for="item in service" :key="item.id" class="form-check checkbox pl-3">
                  <input v-if="item.checked === true" type="checkbox" :id="item.code" name="filters[services][]" @click="toggleUnChecked(), item.checked = false" :value="item.id" v-model="checkedServices" />
                  <input v-if="item.checked === false" type="checkbox" :id="item.code" name="filters[services][]" @click="toggleChecked(), item.checked = true" :value="item.id" v-model="checkedServices" />
                  <label class="checkbox-inline" :for="item.code" style="font-size: 14px !important; color: #000; text-transform: none;">{{ item.name }}</label>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ServiceCheckedCounter from "./CheckedCounter.vue";
import ServiceQuantCheckedCounter from "../../classes/quantCheckedCounter";

export default {
  props: {
    servicesList: null
  },
  data() {
    return {
      checkedServices: []
    };
  },
  computed: {
    countCheckedServices() {
      let _self = this;

      let count = _self.checkedServices;
      return "(" + count.length + ")";
    }
  },
  methods: {
    toggleChecked() {
      ServiceQuantCheckedCounter.plus();
    },
    toggleUnChecked() {
      ServiceQuantCheckedCounter.minus();
    }
  },
  components: {
    ServiceCheckedCounter
  }
};
</script>