.ulmnu
	list-style-type: none
	margin: 0
	padding: 0
  display: block
  width: 100%

	li
    display: inline-block
    width: 32%
    text-align: left

    @media only screen and (max-width : $media-laptop)
      width: 49%

    @media only screen and (max-width : $media-tablet)
      width: 49%

    @media only screen and (max-width : $media-phone)
      width: 100%
  
.cities
  @extend .ulmnu

  &.scroll
    height: 500px
    overflow: hidden
    transition: all 0.25s ease
    &:hover
      overflow-y: auto
      width: 100%
