*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

*:-ms-viewport
	width: auto!important


body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

body
	line-height: 1.6
	font-family: 'Fira Sans', sans-serif !important
	overflow-x: hidden
	-ms-overflow-style: scrollbar

.no-margin 
	margin: 0 !important;

.no-padding
	padding: 0 !important;

.no-padding-left
	padding-left: 0 !important

.height-356
	height: 356px !important

.no-padding-right
	padding-right: 0 !important

a
	color: #000
	
	&:hover
		text-decoration: none
		color: #b71542

.hidden
	display: none

#app
	//overflow: hidden

[v-cloak] 
	display: none

#map
  height: 372px
  width: 100%

// .dropdown-submenu
//   position: relative
//   a::after
//     transform: rotate(-90deg)
//     position: absolute
//     right: 6px
//     top: .8em
//   .dropdown-menu
//     top: 0
//     left: 100%
//     margin-left: .1rem
//     margin-right: .1rem


    
