$navbarFontSize: 15px
$navbarFontWeight: 600
$navbarFontLetterSapacing: 0
$navbarBackgroundColor: #f40a78

.navbar-toggler
  font-size: 1.9rem !important
  outline: none !important
  
.navbar-custom
  background-color: $navbarBackgroundColor
  border-bottom: 6px solid #000000
  padding: 0 !important
  min-height: 51px

  .navbar-country
    font-size: 14px
    margin-left: 2em
    margin-right: 2em

    .svg-inline--fa
      margin-right: 0.5em
      color: #ffffff

    .holder
      .title
        color: #ebebeb

      .country_switcher
        span
          background-color: #000000
          padding: 0 0.5em
          border-bottom: 1px dotted #ebebeb
          line-height: 15px
          color: #ffffff


  .navbar-brand, .navbar-text
    color: rgba(255, 255, 255, 0.8)

  .navbar-nav .nav-link
    font-size: $navbarFontSize
    font-weight: $navbarFontWeight
    letter-spacing: $navbarFontLetterSapacing
    text-transform: uppercase
    color: #ffffff

  .nav-item
    &.active .nav-link, &:hover .nav-link
      padding-bottom: 1rem
      background: #0e0e0e
      color: #ffffff
      transition: all .5s ease

    > a
        padding: 15px 20px 15px !important

  // .dropdown
  //   transition: all .25s ease

  //   &:hover > .dropdown-menu
  //     display: block

  //   > .dropdown-toggle:active
  //     pointer-events: none

.navbar-nav
  .dropdown-absolute
    position: absolute !important
    float: right

  .dropdown-menu
    background-color: #ffffff
    border: 1px solid $navbarBackgroundColor
    border-radius: 0

  .dropdown-item
    font-size: $navbarFontSize
    font-weight: $navbarFontWeight
    letter-spacing: $navbarFontLetterSapacing
    text-transform: uppercase
    color: #000000
    transition: all .25s ease

    &:hover, &:focus
      color: #000000
      background-color: rgba(0, 0, 0, 0.03)

// .navbar-custom
//   .navbar-collapse
//     &.navbar-nav
//       &.nav-item
//         > a > .nav-link
//           font-family: 'Barlow Semi Condensed', sans-serif

