.pagination
  &-lg
    .page-item
      &.disabled
        .page-link
          background-color: #f40a78
          border: none !important
          color: #ffffff
          transition: all .15s ease
          &:hover
            background-color: #b30858

      &.active
        .page-link
          background-color: #000000
          border: none !important
          transition: all .15s ease
          &:hover
            background-color: #b30858

    .page-link
      padding: 0.45rem 1.2rem
      margin: 0.1rem
      border-radius: 0 !important
      background-color: #f40a78
      border: none !important
      color: #ffffff
      transition: all .15s ease
      &:hover
        background-color: #b30858
