<template>
    <div class="col-lg-4">
      <label class="font-weight-bold">
        <i :class="iconClass"></i> {{ label }}
      </label>
      <div v-if="hasServices" style="display: inline-block;">
        <service-component></service-component>
      </div>
        <div v-for="chunk in items" :key="chunk.id">
          <div class="form-group row mb-0">
            <div class="col-6 col-lg-6 mb-2" 
              v-for="item in chunk" :key="item.id">
              <search-field-item 
                :item="item">
              </search-field-item>
            </div>
          </div>
        </div>
    </div>
</template>

<script>
import SearchFieldItem from "./Item.vue";

export default {
  props: {
    fieldsList: null,
    label: null,
    iconClass: null,
    hasServices: null
  },
  data() {
    return {
      items: this.fieldsList
    };
  },
  components: {
    SearchFieldItem
  }
};
</script>