<template>
    <div>
      <div v-if="item.type == 'input'">
        <input class="form-control" type="text" :name="'filters[searchInput]['+ item.name +']'" 
          :placeholder="item.value" />
      </div>

      <div class="checkbox pl-0" v-if="item.type == 'checkbox'">
        <input :id="item.name" :name="'filters[searchBoolean]['+ item.name +']'" type="checkbox" :value="1" />
        <label :for="item.name" v-text="item.value"></label>
      </div>
    </div>
</template>

<script>
export default {
  props: {
    item: null
  },
  mounted() {
    console.log("Component mounted.");
  }
};
</script>