<template>
  <div class="favorite-button" @click="toggleFavorite(favorite), isFavorited = !isFavorited" :class="heartActive" v-html="heartFavoriteText"></div>
</template>

<script>
import ProstesWebApi from "../../api/web";
import QuantFavoritedCounter from "../../classes/quantFavoritedCounter";

export default {
  props: ["favorite", "isfavorited"],
  data() {
    return {
      isFavorited: false
    };
  },
  mounted() {
    this.isFavorited = this.isFavorite ? true : false;
  },
  computed: {
    isFavorite() {
      return this.isfavorited;
    },
    heartActive() {
      if (!this.isFavorited) {
        return "love d-block text-center";
      } else {
        return "love is-loved d-block text-center";
      }
    },
    heartFavoriteText() {
      if (!this.isFavorited) {
        return '<i class="far fa-heart"></i> Į Favoritus';
      } else {
        return '<i class="fas fa-heart"></i> Pašalinti';
      }
    }
  },
  methods: {
    toggleFavorite() {
      if (!this.isFavorited) {
        return this.newFavorite(this.favorite);
      } else {
        return this.unFavorite(this.favorite);
      }
    },
    newFavorite(favorite) {
      ProstesWebApi.favorite(favorite);
      QuantFavoritedCounter.plus();

    },
    unFavorite(favorite) {
      ProstesWebApi.unfavorite(favorite);
      QuantFavoritedCounter.minus();
    }
  }
};
</script>