<template>
  <span class="love-count">{{ favorites_count }}</span>
</template>

<script>
import ProstesWebApi from "../../api/web";

export default {
  props: ["styled"],
  data() {
    return {
      favorites_count: 0
    };
  },
  mounted() {
    let _self = this;

    _self.getCountedFavorites();
  },
  methods: {
    getCountedFavorites() {
      let _self = this;

      ProstesWebApi.getCountUserFavorites(favorites_counted => {
        _self.favorites_count = favorites_counted;
      });
    }
  }
};
</script>